<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>731012480360-4so6hirjuq7sntj4n3egmb6s8vcalgno.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.731012480360-4so6hirjuq7sntj4n3egmb6s8vcalgno</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>731012480360-1sg4bfgub416q8s3ube1ob8slfj0cbkh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBhO5l1ATFLybDziSqIHliRIVrZp3suqLc</string>
	<key>GCM_SENDER_ID</key>
	<string>731012480360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rozenamah.zearh.com</string>
	<key>PROJECT_ID</key>
	<string>rozenamah-212809</string>
	<key>STORAGE_BUCKET</key>
	<string>rozenamah-212809.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731012480360:ios:f14c588773b1ec1c87aadd</string>
	<key>DATABASE_URL</key>
	<string>https://rozenamah-212809.firebaseio.com</string>
</dict>
</plist>